<section class="about-image">
  <div class="about-image__container container">
    <div class="about-image__row about-image__row--first">
      <img loading="lazy" src="img/about/about-image-1.jpg" class="about-image__item" width="300" height="300" alt="">
      <img loading="lazy" src="img/about/about-image-2.jpg" class="about-image__item" width="520" height="300" alt="">
      <img loading="lazy" src="img/about/about-image-3.jpg" class="about-image__item" width="300" height="300" alt="">
    </div>
    <div class="about-image__row about-image__row--second">
      <img loading="lazy" src="img/about/about-image-4.jpg" class="about-image__item" width="400" height="300" alt="">
      <img loading="lazy" src="img/about/about-image-5.jpg" class="about-image__item" width="310" height="300" alt="">
      <img loading="lazy" src="img/about/about-image-6.jpg" class="about-image__item" width="400" height="300" alt="">
    </div>
  </div>
</section>
