<section class="hero">
  <div class="container hero__container">
    <h1 class="hero__title h2-title">О компании</h1>
    <div class="hero__content">
      <img loading="lazy" src="img/about/hero.jpg" class="hero__image" width="580" height="549" alt="Сотрудники компании помогают нашим клиентам">
      <div class="hero__descr">
        <p>
          Группа компаний <span>«Dixon»</span> основана в 2001 году.<br>
          Имеет многолетний опыт продажи мобильной техники<br>
          и аксессуаров к ней. Собственный сервисный центр, имеющий <span>более 50 авторизаций крупнейших брендов</span> (Samsung, Realme,
          Oppo, и др.), позволяет обеспечить клиентам качественное обслуживание на всех этапах эксплуатации приобретенного товара – гарантийное обслуживание, послегарантийный ремонт.
        </p>
        <img loading="lazy" src="img/about/hero.jpg" class="hero__image-mobile" width="580" height="549" alt="Сотрудники компании помогают нашим клиентам">
        <p class="bg-text">
          Наш интернет-магазин создан с целью предложения клиентам большого выбора электроники,
          а также аксессуаров к ней. На данный момент мы предлагаем<span> более 3 000 различных товаров</span>.
          Разнообразие цен и моделей способно удовлетворить запросы любого покупателя.
          У нас вы найдете широкий ассортимент товаров на любой, даже самый взыскательный вкус.
        </p>
        <p>
          Наличие собственного склада позволяет доставлять товары до клиентов в оптимальные сроки.
        </p>
        <p class="big-text">Следите за специальными предложениями!</p>
      </div>
    </div>
  </div>
</section>
