.bestsellers {
  padding-bottom: 7em;
  background-color: $color-ghost-gray;

  &__title {
    text-align: center;
  }

  &__products {
    margin-bottom: 5rem;
  }

  &__link {
    padding: 1.5em 2.5em;

    &-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
