.contacts {
  padding-top: 6.5em;
  padding-bottom: 2em;

  &__title {
    text-align: center;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;

    @include bp-1024 {
      flex-direction: column;
    }
  }

  &__info {
    position: absolute;
    left: 0;
    top: 50%;
    border-radius: 30px;
    padding: 85px 40px 85px 60px;
    background: #f5f6ff;
    transform: translateY(-50%);

    @include bp-1024 {
      position: static;
      left: auto;
      top: auto;
      margin-bottom: -160px;
      padding: 55px 30px 55px 40px;
      width: 100%;
      transform: translate(0);
    }

    @include bp-700 {
      padding: 35px 20px;
    }

    @include bp-500 {
      margin-bottom: -70px;
    }
  }

  &__text {
    margin: 0;
    margin-bottom: 10px;
    font-style: normal;
    font-size: 1.5em;
    line-height: 170%;
    letter-spacing: 0.01em;
    color: $color-grey-asparagus;

    a {
      color: inherit;
      transition: color 0.3s ease-in;

      &:hover {
        color: $color-navy-blue;
      }
    }

    @include bp-700 {
      font-size: 1.2em;
    }

    @include bp-700 {
      font-size: 1em;
    }
  }

  &__socials {
    display: flex;
    margin-top: 35px;

    &-link {
      display: inline-block;
      margin-right: 17px;
    }

    &-icon {
      color: #3a4097;

      @include bp-600 {
        width: 20px;
        height: 20px;
      }
    }

    &--footer {
      justify-content: flex-end;

      .contacts__socials-icon {
        width: 20px;
        height: 20px;
        color: $color-default-white;
      }
    }

    @include bp-700 {
      margin-top: 20px;
    }
  }

  &__map {
    margin-right: 0;
    margin-left: auto;

    @include bp-1024 {
      margin-left: 0;
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  @include bp-700 {
    padding-top: 4em;
  }
}

.contacts__socials--footer .contacts__socials-link {
  margin-right: 12px;
}

.contacts__socials--footer .contacts__socials-link:last-child {
  margin-right: 0;
}
