@import "cart-modal";

.footer {
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 115%;
  letter-spacing: 0.01em;
  color: $color-default-white;
  background-color: #393186;

  &__container {
    display: flex;
    align-items: flex-start;

    @include bp-1200 {
      display: grid;
    }
  }

  &__nav {
    display: flex;

    @include bp-1200 {
      grid-column: span 2;
      grid-row: 2;
    }

    @include bp-800 {
      display: grid;
      grid-template-columns: 1fr 1fr 2.5fr;
    }

    @include bp-600 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }

    @include bp-425 {
      grid-template-columns: none;
    }
  }

  &__col {
    padding-top: 25px;

    &-title {
      margin-bottom: 1em;
      font-size: 20px;
      line-height: 150%;
      letter-spacing: 0.01em;
      text-transform: uppercase;
      color: #aaa;
    }

    &-list {
      display: inline-flex;
      flex-flow: column wrap;
      width: 100%;
      max-height: 130px;

      @include bp-425 {
        max-height: none;
      }
    }

    &-item {
      &:not(:last-child) {
        margin-bottom: 8px;
      }

      &--add {
        color: #cfcfcf;
      }
    }

    &-link {
      color: inherit;
    }

    &--first {
      margin-left: 25px;
    }

    &--second {
      margin-right: 0;
      margin-left: 70px;
    }

    &--third {
      margin-right: 0;
      margin-left: 30px;

      @include bp-600 {
        grid-column: span 3;
        grid-row: 2;
      }
    }

    @include bp-800 {
      margin-right: 0;
      margin-left: 0;
    }

    @include bp-425 {
      grid-column: auto;
      grid-row: auto;
    }
  }

  &__contacts {
    margin-right: 0;
    margin-left: auto;
    padding-top: 25px;

    &-phone {
      flex-flow: column nowrap;
      align-items: flex-end;
      justify-content: flex-end;

      .phone-number__text {
        margin-left: 0;
        color: inherit;
      }

      .phone-number__link {
        color: inherit;
      }

      .phone-number__icon {
        stroke: currentcolor;
      }
    }

    @include bp-1200 {
      grid-column: 2;
      grid-row: 1;
    }

    @include bp-425 {
      padding-top: 0;
    }
  }
}

.footer__col-list li.footer__col-item--add:not(:last-child) {
  margin-top: 2em;
}
