.header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;

  &__logo {
    margin-right: 70px;

    @include bp-1024 {
      margin-right: 30px;
    }

    @include bp-600 {
      width: 180px;
    }

    @include bp-500 {
      width: 100px;
    }

    @include bp-415 {
      margin-right: 10px;
    }
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__navigation-block {
    display: flex;
    flex-wrap: wrap;

    @include bp-1024 {
      position: absolute;
      right: 20px;
      top: 100%;
      z-index: 1;
      display: none;
      flex-direction: column;
      border-radius: 5px;
      padding: 20px;
      max-width: 40vw;
      box-shadow: 0 0 10px rgb(0 0 0 / 5%);
      background: #fff;

      .accordion__content {
        overflow: hidden;
        max-height: 0;
        -webkit-transition: max-height 0.3s;
        -o-transition: max-height 0.3s;
        transition: max-height 0.3s;
      }
    }

    @include bp-600 {
      max-width: 250px;
    }
  }

  &__contacts {
    @include bp-1024 {
      display: none;
    }
  }

  &__contacts--mobile {
    display: none;

    @include bp-1024 {
      display: block;
      order: 2;

      .header__contacts-phone {
        flex-direction: column;
        align-items: flex-end;
      }

      .phone-number__text {
        margin-left: 0;
      }
    }
  }

  &__adress-block {
    @include bp-1024 {
      order: 1;
      margin-bottom: 15px;
    }
  }

  &__nav {
    flex-basis: 100%;
  }

  &__search-block {
    flex-basis: 48%;
    margin-right: 50px;

    &--mobile {
      display: none;

      @include bp-1024 {
        display: block !important;
      }

      @include bp-600 {
        margin-right: auto;
      }

      @include bp-375 {
        width: 125px;
        height: 30px;

        input {
          width: 125px;
          height: 30px;
        }

        .submenu-search__button {
          svg {
            width: 12px;
            height: 12px;
          }
        }
      }
    }

    @include bp-1024 {
      display: none;
    }
  }

  &__cart {
    position: relative;
    z-index: 5;
    margin-left: 40px;

    &-link {
      display: block;
    }

    &-count {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      padding: 4px;
      width: 11px;
      height: 11px;
      font-size: 8px;
      line-height: 12px;
      color: #fff;
      background-color: #42ae40;
      pointer-events: none;
    }

    @include bp-1024 {
      position: absolute;
      right: 20px;
      top: 100%;
    }

    @include bp-415 {
      margin-left: 10px;
    }
  }
}

.menu--active {
  z-index: 10;
  display: flex;
}

.header__nav nav > ul {
  @include bp-1024 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
  }
}

[data-accordion="element"].is-active > [data-accordion="content"] {
  max-height: 100%;
}
