.hero-slider {
  padding-top: 110px;
  height: 100%;

  &__item {
    position: relative;
  }

  &__text {
    position: relative;
    z-index: 1;
    max-width: 560px;

    @include bp-1024 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;
      max-width: 80vw;
    }

    @include bp-500 {
      padding-right: 15px;
      max-width: none;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 0.5em;
    font-family: var(--font-family-main);
    font-weight: 400;
    font-size: 64px;
    line-height: 120%;
    color: $color-valhalla;

    @include bp-600 {
      font-size: 50px;
    }

    @include bp-425 {
      font-size: 40px;
    }
  }

  &__subtitle {
    margin-bottom: 2em;
    max-width: 355px;
    font-size: 24px;
    line-height: 125%;
    letter-spacing: 0.01em;
    color: $color-dim-gray;

    @include bp-425 {
      font-size: 20px;
    }
  }

  &__image {
    position: absolute;
    right: 0;
    top: 0;

    @include bp-1440 {
      right: -30%;
    }

    @include bp-1024 {
      right: 0;
      top: auto;
      bottom: 0;
    }

    @include bp-700 {
      bottom: 50px;
      height: 50%;
    }
  }

  &__button {
    @include bp-1024 {
      margin-top: auto;
      margin-bottom: 55px;
    }
  }

  &__additional {
    position: absolute;
    right: 15%;
    top: 0;
    max-width: 86px;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-align: center;
    color: #414141;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      right: 0;
      top: 50%;
      bottom: 0;
      z-index: -1;
      width: 175px;
      height: 175px;
      background-image: url("../img/hero/hero__additional-bg.svg");
      background-size: cover;
      background-repeat: no-repeat;
      transform: translate(-50%, -50%);
    }

    @include bp-1024 {
      right: -5%;
      top: 20%;
    }

    @include bp-500 {
      display: none;
    }
  }

  &__pagination {
    --swiper-pagination-bullet-width: 14px;
    --swiper-pagination-bullet-height: 14px;
    --swiper-pagination-color: #3a4097;
    --swiper-pagination-bullet-inactive-color: transparent;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 10px;

    .swiper-pagination-bullet {
      border: 1px solid #3a4097;
    }
  }

  @include bp-1024 {
    padding-top: 40px;
  }

  @include bp-425 {
    padding-top: 0;
  }
}
