.hero {
  padding-top: var(--header-height);
  height: 95vh;
  max-height: 900px;
  background-image: url("../img/hero-section__background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $color-grey;

  &__container {
    position: relative;
    padding-left: max(15px, calc((100% - var(--content-width)) / 2));
    height: 100%;
    max-height: 100vh;

    @media (min-width: 1921px) {
      margin: 0 auto;
      padding-right: 15px;
      padding-left: 15px;
      max-width: 1920px;
    }
  }

  @include bp-415 {
    height: 90vh;
  }
}
