.products {
  &__tabs {
    @include tabs;
  }

  &__tabs-nav {
    display: flex;
    margin-bottom: 2.5em;

    &-item {
      margin-right: 2em;

      &:last-child {
        margin-right: 0;
      }
    }

    &-btn {
      border: none;
      border-bottom: 2px solid transparent;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      letter-spacing: 0.01em;
      color: #50537d;
      background: none;
      transition: all 0.3s ease-in;
      cursor: pointer;

      &:hover {
        text-shadow: 0 0 0.65px #50537d;
      }

      &--active {
        border-bottom: 2px solid currentcolor;
        font-weight: 700;
      }

      &--red {
        font-weight: 700;
        color: #ff512a;
      }
    }
  }
}
