.quantity {
  display: flex;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0 0 2px 0.3px #aaa inset;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9px;

    svg {
      pointer-events: none;
    }
  }

  &__value {
    padding: 0 8px;
  }
}
