<div class="catalog__header product-header">
  <div class="product-header__info">
    <a class="product-header__link" href="#">Кредит</a>
    <a class="product-header__link" href="#">Оплата и доставка</a>
  </div>
  <h1 class="catalog__title h2-title">Телефоны</h1>
  <div class="product-header__nav">
    <div class="breadcrumbs">
      <a class="breadcrumbs__item" href="/">Главная</a>
      <a class="breadcrumbs__item" href="/catalog/">Каталог товаров</a>
      <span class="breadcrumbs__item breadcrumbs__item--active">Телефоны</span>
    </div>

    <div class="product-header__sort" data-accordion="parent">
      <div class="product-header__sort-elem" data-accordion="element">
        <div class="custom-select product-header__sort" data-select data-validate-type="select" data-name="sort">
          <button class="custom-select__button product-header__sort-button" type="button" aria-label="Выберите одну из опций"
            data-accordion="button">
            <span class="custom-select__label">Сортировка</span>
            <span class="custom-select__text visually-hidden"></span>
            <svg class="catalog__sort-icon" width="20" height="17" aria-hidden="true">
              <use xlink:href="img/sprite.svg#sort"></use>
            </svg>
          </button>
          <div data-accordion="content">
            <div class="custom-select__list product-header__sort-list" data-accordion="content">
              <div class="custom-select-item option-item" tabindex="0" aria-checked="false" role="checkbox"
                data-select-value="old-first">
                <div class="option-item__check">
                  <svg width="10" height="9" aria-hidden="true">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </div><span>Сначала старые</span>
              </div>
              <div class="custom-select-item option-item" tabindex="0" aria-checked="false" role="checkbox"
                data-select-value="new-first">
                <div class="option-item__check">
                  <svg width="10" height="9" aria-hidden="true">
                    <use xlink:href="#icon-check"></use>
                  </svg>
                </div><span>Сначала новые</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button class="btn btn-reset catalog__filter-button" data-popup-target="filter">Фильтр</button>
  </div>
</div>
