<section class="cart">
  <div class="cart__container container">

    <div class="cart__header">
      <div class="cart__header-info">
        <a class="cart__header-link" href="#">Кредит</a>
        <a class="cart__header-link" href="#">Оплата и доставка</a>
      </div>
      <h1 class="cart__title h2-title">Корзина</h1>
      <div class="cart__nav">
        <div class="breadcrumbs">
          <a class="breadcrumbs__item" href="/">Главная</a>
          <span class="breadcrumbs__item breadcrumbs__item--active">Корзина</span>
        </div>
      </div>
    </div>
    <!-- /cart__header -->

    <div class="cart__list">
      <div class="cart__list-header cart-grid cart-grid--header">
        <div class="cart__col-title">Товар:</div>
        <div class="cart__col-title">Количество:</div>
        <div class="cart__col-title">Цена:</div>
        <div class="cart__col-title"></div>
      </div>
      <div class="cart__list-content">
        <article class="cart-grid__item cart-item cart-grid">

          <div class="cart-grid__col">
            <div class="cart-item__image-wrapper">
              <img loading="lazy" src="img/cart/cart-grid__image.jpg" class="cart-item__image" width="120" height="150" alt="">
            </div>
            <div class="cart-item__title">Смартфон Samsung Galaxy A23 4/64GB KZ персиковый</div>
          </div>

          <div class="cart-grid__col">
            <div class="quantity cart-item__quantity">
              <button class="btn-reset quantity__button quantity__button--minus">
                <svg class="quantity__button-icon" width="12" height="2">
                  <use xlink:href="#qty-minus"></use>
                </svg>
              </button>
              <div class="quantity__value">1</div>
              <input
                type="number"
                class="quantity__input visually-hidden"
                aria-hidden="true"
                tabindex="-1"
                value="1"/>
              <button class="btn-reset quantity__button quantity__button--plus">
                <svg class="quantity__button-icon" width="12" height="12">
                  <use xlink:href="#qty-plus"></use>
                </svg>
              </button>
            </div>
          </div>

          <div class="cart-grid__col">
            <div class="cart-item__price">
              15 000 Р.
            </div>
          </div>

          <div class="cart-grid__col">
            <div class="cart-item__delete">
              <a class="cart-item__delete-button" href="#">
                <svg class="cart-item__delete-icon" width="20" height="24">
                  <use xlink:href="#delete-icon"></use>
                </svg>
              </a>
            </div>
          </div>

        </article>
        <article class="cart-grid__item cart-item cart-grid">

          <div class="cart-grid__col">
            <div class="cart-item__image-wrapper">
              <img loading="lazy" src="img/cart/cart-grid__image.jpg" class="cart-item__image" width="120" height="150" alt="">
            </div>
            <div class="cart-item__title">Смартфон Samsung Galaxy A23 4/64GB KZ персиковый</div>
          </div>

          <div class="cart-grid__col">
            <div class="quantity cart-item__quantity">
              <button class="btn-reset quantity__button quantity__button--minus">
                <svg class="quantity__button-icon" width="12" height="2">
                  <use xlink:href="#qty-minus"></use>
                </svg>
              </button>
              <div class="quantity__value">1</div>
              <input
                type="number"
                class="quantity__input visually-hidden"
                aria-hidden="true"
                tabindex="-1"/>
              <button class="btn-reset quantity__button quantity__button--plus">
                <svg class="quantity__button-icon" width="12" height="12">
                  <use xlink:href="#qty-plus"></use>
                </svg>
              </button>
            </div>
          </div>

          <div class="cart-grid__col">
            <div class="cart-item__price">
              15 000 Р.
            </div>
          </div>

          <div class="cart-grid__col">
            <div class="cart-item__delete">
              <a class="cart-item__delete-button" href="#">
                <svg class="cart-item__delete-icon" width="20" height="24">
                  <use xlink:href="#delete-icon"></use>
                </svg>
              </a>
            </div>
          </div>

        </article>
        <article class="cart-grid__item cart-item cart-grid">

          <div class="cart-grid__col">
            <div class="cart-item__image-wrapper">
              <img loading="lazy" src="img/cart/cart-grid__image.jpg" class="cart-item__image" width="120" height="150" alt="">
            </div>
            <div class="cart-item__title">Смартфон Samsung Galaxy A23 4/64GB KZ персиковый</div>
          </div>

          <div class="cart-grid__col">
            <div class="quantity cart-item__quantity">
              <button class="btn-reset quantity__button quantity__button--minus">
                <svg class="quantity__button-icon" width="12" height="2">
                  <use xlink:href="#qty-minus"></use>
                </svg>
              </button>
              <div class="quantity__value">1</div>
              <input
                type="number"
                class="quantity__input visually-hidden"
                aria-hidden="true"
                tabindex="-1"/>
              <button class="btn-reset quantity__button quantity__button--plus">
                <svg class="quantity__button-icon" width="12" height="12">
                  <use xlink:href="#qty-plus"></use>
                </svg>
              </button>
            </div>
          </div>

          <div class="cart-grid__col">
            <div class="cart-item__price">
              15 000 Р.
            </div>
          </div>

          <div class="cart-grid__col">
            <div class="cart-item__delete">
              <a class="cart-item__delete-button" href="#">
                <svg class="cart-item__delete-icon" width="20" height="24">
                  <use xlink:href="#delete-icon"></use>
                </svg>
              </a>
            </div>
          </div>

        </article>
      </div>
    </div>

    <div class="cart__footer">
      <div class="cart__coupon">
        <form class="cart__coupon-form">
          <input class="cart__coupon-input" type="text" placeholder="Ваш промокод">
          <button class="cart__coupon-button btn-reset btn btn--main">применить промокод</button>
        </form>
      </div>
      <div class="cart__info">
        <div class="cart__info-text">
          <div class="cart__total">
            Итого 3 товара
          </div>
          <div class="cart__total-amount">60 050 Р.</div>
        </div>
        <button class="cart__checkout-btn btn-reset btn btn--main">Оформить покупку</button>
      </div>
    </div>
  </div>
</section>
