@mixin tabs {
  .tabs__nav-btn--active {
    border-bottom: 2px solid currentcolor;
    font-weight: 700;
  }

  .tabs__panel {
    display: none;
  }

  .tabs__panel--active {
    display: block;
  }
}
