<div class="checkout__total">
  <div class="checkout__total-title">Ваш заказ</div>
  <div class="checkout__total-table">
    <div class="checkout__total-row">
      <div class="checkout__total-position">3 товара на</div>
      <div class="checkout__total-value">45 000 Р.</div>
    </div>
    <div class="checkout__total-row">
      <div class="checkout__total-position">Доставка</div>
      <div class="checkout__total-value">Бесплатно</div>
    </div>
  </div>
  <div class="checkout__total-row checkout__amount">
    <div class="checkout__total-position">Всего к оплате</div>
    <div class="checkout__total-value">45 000 Р.</div>
  </div>
  <button type="submit" class="btn btn-reset btn--main checkout__submit">Оформить покупку</button>
  <label class="custom-checkbox checkout__policy">
    <input type="checkbox" class="custom-checkbox__field">
    <span class="custom-checkbox__content">Подтверждая заказ, я принимаю условия Пользовательского соглашения</span>
  </label>
</div>
