<section class="reviews">
  <div class="reviews__container container">
    <h1 class="reviews__title h2-title">Отзывы наших клиентов</h1>
    <div class="swiper reviews__slider">
      <div class="swiper-wrapper">
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
         <div class="swiper-slide reviews__item">
            <div class="reviews__item-wrapper">
              <div class="reviews__item-title">Василий П.</div>
              <div class="reviews__item-rating" style="--rating-width: 100%"></div>
              <p class="reviews__item-text">Очень хороший сервис. Доброжелательные и оперативно работающие. качественно заменили дисплей притом по той же цене как было при заказе. Хотя цены подросли значительно. Работу провели очень быстро и качественно, даже не почуствовал отсутствие смартфона. Советую всем для кого важно качество и хороший сервис.</p>
            </div>
         </div>
      </div>
    </div>
    <div class="reviews__controls">
      <div class="swiper-pagination reviews__pagination"></div>
    </div>
  </div>
</section>
