<section class="product__tabs">
  <div class="tabs" data-tabs="productTabs">
    <ul class="tabs__nav list-reset">
      <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Характеристики</button></li>
      <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Отзывы</button></li>
    </ul>
    <div class="tabs__content">
      <div class="tabs__panel">
        <div class="product__characteristic characteristic-grid">
          <div class="characteristic-grid__group">
            <div class="characteristic-grid__group-title">Заводские данные</div>
            <div class="characteristic-grid__item">
              <div class="characteristic-grid__item-title">Гарантия от продавца</div>
              <div class="characteristic-grid__item-value">12 мес.</div>
            </div>
            <div class="characteristic-grid__item">
              <div class="characteristic-grid__item-title">Страна производитель <span class="tooltip">
                <button class="tooltip__btn" aria-describedby="country">?</button>
                <span class="tooltip__txt" role="tooltip" id="country">
                  <span class="visually-hidden">Тултип: </span>
                  Какой то текст
                </span>
              </span></div>
              <div class="characteristic-grid__item-value">12 мес.</div>
            </div>
          </div>
          <div class="characteristic-grid__group">
            <div class="characteristic-grid__group-title">Заводские данные</div>
            <div class="characteristic-grid__item">
              <div class="characteristic-grid__item-title">Гарантия от продавца</div>
              <div class="characteristic-grid__item-value">12 мес.</div>
            </div>
            <div class="characteristic-grid__item">
              <div class="characteristic-grid__item-title">Страна производитель <span class="tooltip">
                <button class="tooltip__btn" aria-describedby="country">?</button>
                <span class="tooltip__txt" role="tooltip" id="country">
                  <span class="visually-hidden">Тултип: </span>
                  Какой то текст
                </span>
              </span></div>
              <div class="characteristic-grid__item-value">12 мес.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="tabs__panel">
        <div class="product__reviews">
          <article class="product-review">
            <div class="product-review__header">
              <div class="product-review__rate">
                Рейтинг:
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item"></div>
              </div>
              <div class="product-review__author">Роман Петров</div>
            </div>
            <div class="product-review__content">
              <div class="product-review__content-item">
                <div class="product-review__content-title">Срок использования</div>
                <div class="product-review__content-value">Менее месяца</div>
              </div>
              <div class="product-review__content-item">
                <div class="product-review__content-title">Достоинства</div>
                <div class="product-review__content-value">Экран. Камера. Габариты.</div>
              </div>
              <div class="product-review__content-item">
                <div class="product-review__content-title">Недостатки</div>
                <div class="product-review__content-value">Их нет</div>
              </div>
              <div class="product-review__content-item">
                <div class="product-review__content-title">Комментарий</div>
                <div class="product-review__content-value">Данный смартфон по всем критериям и тех. параметрам достоин похвал. Быстрый, не думает,а быстро реагирует, откликается по всем запросам в приложениях. Видео снимает отлично, без лагов и что радует есть оптимизация. Камера снимает до мельчайших деталей,ни чего не упускает. Изображение не скачет при съёмке видео. Покупала для сына этот смартфон, и ради шутеров. Предыдущие смартфоны,тоже самсунги не тянули Калоф Дьюти. Теперь смартфон есть, а игру установить не возможно. Но ничего страшного, есть другие шутеры,и по ним проверили качество производительности смартфона. Радует. Батарея и экран не нагревается, и fps не тормозит,не лагает. Как бы не хаяли самсунг,всё таки это нормальный смартфон,если идти от среднего класса. Рекомендую данную модель.</div>
              </div>
            </div>
          </article>
          <article class="product-review">
            <div class="product-review__header">
              <div class="product-review__rate">
                Рейтинг:
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item product-card__rating-item--fill"></div>
                <div class="product-card__rating-item"></div>
              </div>
              <div class="product-review__author">Роман Петров</div>
            </div>
            <div class="product-review__content">
              <div class="product-review__content-item">
                <div class="product-review__content-title">Срок использования</div>
                <div class="product-review__content-value">Менее месяца</div>
              </div>
              <div class="product-review__content-item">
                <div class="product-review__content-title">Достоинства</div>
                <div class="product-review__content-value">Экран. Камера. Габариты.</div>
              </div>
              <div class="product-review__content-item">
                <div class="product-review__content-title">Недостатки</div>
                <div class="product-review__content-value">Их нет</div>
              </div>
              <div class="product-review__content-item">
                <div class="product-review__content-title">Комментарий</div>
                <div class="product-review__content-value">Данный смартфон по всем критериям и тех. параметрам достоин похвал. Быстрый, не думает,а быстро реагирует, откликается по всем запросам в приложениях. Видео снимает отлично, без лагов и что радует есть оптимизация. Камера снимает до мельчайших деталей,ни чего не упускает. Изображение не скачет при съёмке видео. Покупала для сына этот смартфон, и ради шутеров. Предыдущие смартфоны,тоже самсунги не тянули Калоф Дьюти. Теперь смартфон есть, а игру установить не возможно. Но ничего страшного, есть другие шутеры,и по ним проверили качество производительности смартфона. Радует. Батарея и экран не нагревается, и fps не тормозит,не лагает. Как бы не хаяли самсунг,всё таки это нормальный смартфон,если идти от среднего класса. Рекомендую данную модель.</div>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
