<div class="product__header product-header">
  <div class="product-header__info">
    <a class="product-header__link" href="#">Кредит</a>
    <a class="product-header__link" href="#">Оплата и доставка</a>
  </div>
  <h1 class="catalog__title h2-title">Телефоны</h1>
  <div class="product-header__nav">
    <div class="breadcrumbs">
      <a class="breadcrumbs__item" href="/">Главная</a>
      <a class="breadcrumbs__item" href="/catalog/">Каталог товаров</a>
      <a class="breadcrumbs__item" href="/phones/">Телефоны</a>
      <span class="breadcrumbs__item breadcrumbs__item--active">Смартфон Samsung Galaxy A23 4/64GB KZ персиковый</span>
    </div>
  </div>
</div>
