<section class="bestsellers">
  <div class="bestsellers__container container">
    <h2 class="bestsellers__title h2-title">Хиты продаж</h2>
    <div class="bestsellers__products products">
      <div class="products__tabs tabs" data-tabs="products">
        <ul class="products__tabs-nav tabs__nav list-reset">
          <li class="products__tabs-nav-item tabs__nav-item"><button class="products__tabs-nav-btn products__tabs-nav-btn--active tabs__nav-btn" type="button">Хиты продаж</button></li>
          <li class="products__tabs-nav-item tabs__nav-item"><button class="products__tabs-nav-btn tabs__nav-btn" type="button">Акции</button></li>
          <li class="products__tabs-nav-item tabs__nav-item"><button class="products__tabs-nav-btn tabs__nav-btn" type="button">Новинки</button></li>
          <li class="products__tabs-nav-item tabs__nav-item"><button class="products__tabs-nav-btn tabs__nav-btn" type="button">Выбор покупателей</button></li>
          <li class="products__tabs-nav-item tabs__nav-item"><button class="products__tabs-nav-btn products__tabs-nav-btn--red tabs__nav-btn" type="button">Распродажа</button></li>
        </ul>
        <div class="products__tabs-content tabs__content">
          <div class="products__tabs-panel tabs__panel">
            <div class="products__tabs-list product-list">
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
              <article class="product-card">
                <div class="product-card__add">
                  <button class="product-card__wishlist btn-reset">
                    <svg class="product-card__wishlist-icon" width="22" height="20">
                      <use xlink:href="#favorite"></use>
                    </svg>
                  </button>
                </div> <!-- favorite-button -->

                <div class="product-card__image-wrapper">
                  <img loading="lazy" src="img/product-card-image.png" class="product-card__image" width="152" height="186" alt="Изображение товара">
                </div>

                <a class="product-card__title" href="#">Смартфон  Samsung Galaxy A23 4/64GB KZ персиковый</a>

                <div class="product-card__info">
                  <div class="product-card__rating">
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item product-card__rating-item--fill"></div>
                    <div class="product-card__rating-item"></div>
                  </div>
                  <a class="product-card__reviews" href="#">15 отзывов</a>
                </div>

                <div class="product-card__prices">
                  <div class="product-card__prices-current">15 000 Р.</div>
                  <div class="product-card__prices-old">23 000 Р.</div>
                </div>

                <a class="product-card__button btn btn-reset btn--main" href="#">В корзину
                  <svg class="product-card__button-icon">
                    <use xlink:href="#cart-icon"></use>
                  </svg>
                </a>
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
