<section class="contacts">
  <div class="contacts__container container">
    <h2 class="contacts__title h2-title">Контакты</h2>
    <div class="contacts__content">
      <div class="contacts__info">
        <address class="contacts__text">Адрес: Чебоксары, ул.Калинина, 91 к1</address>
        <p class="contacts__text">График работы:</p>
        <p class="contacts__text">Телефон: <a class="contacts__phone" href="tel:+7352364202">+7 (352) 36-42-02</a></p>
        <p class="contacts__text">Эл. почта: <a class="contacts__mail" href="mailto:noname@mail.ru">noname@mail.ru</a></p>
        <div class="contacts__socials">
          <a class="contacts__socials-link" href="#">
            <svg class="contacts__socials-icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#vk-icon"></use>
            </svg>
          </a>
          <a class="contacts__socials-link" href="#">
            <svg class="contacts__socials-icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#tg-icon"></use>
            </svg>
          </a>
          <a class="contacts__socials-link" href="#">
            <svg class="contacts__socials-icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#viber-icon"></use>
            </svg>
          </a>
          <a class="contacts__socials-link" href="#">
            <svg class="contacts__socials-icon" width="30" height="30">
              <use xlink:href="img/sprite.svg#whatsapp-icon"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="contacts__map">
        <img loading="lazy" src="img/contacts__map.jpg" class="contacts__map-image" width="860" height="535" alt="Карта проезда до нашего офиса">
      </div>
    </div>
  @if (context.additional === true) {
    <div class="contacts__add-info">
      <ul class="contacts__add-list list-reset">
        <li class="contacts__add-item">ИП Васильев Андрей Иванович</li>
        <li class="contacts__add-item">Юридический адрес	426060, Удмуртская Республика,</li>
        <li class="contacts__add-item">г. Ижевск, ул. 9-ая Января, д. 171, кв. 102.</li>
        <li class="contacts__add-item">Почтовый адрес	428018, Чувашская Республика,</li>
        <li class="contacts__add-item">г.Чебоксары, ул.Академика А.Н.Крылова, д.11, кв.15</li>
        <li class="contacts__add-item">ИНН	212900377340</li>
        <li class="contacts__add-item">ОГРНИП	305212900900105</li>
        <li class="contacts__add-item">Банк	ЧУВАШСКОЕ ОТДЕЛЕНИЕ N8613 ПАО СБЕРБАНК</li>
        <li class="contacts__add-item">Р/счет	40802810975000002757</li>
        <li class="contacts__add-item">Кор/счет	30101810300000000609</li>
        <li class="contacts__add-item">БИК 049706609</li>
      </ul>
    </div>
  }
  </div>
</section>
