<div class="graph-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="cart">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content">
      <div class="cart__list cart__list--modal">
        <div class="cart__list-content">
          <article class="cart-grid__item cart-item cart-grid">

            <div class="cart-grid__col">
              <div class="cart-item__image-wrapper">
                <img loading="lazy" src="img/cart/cart-grid__image.jpg" class="cart-item__image" width="120" height="150" alt="">
              </div>
            </div>

            <div class="cart-grid__col">
              <div class="cart-item__title">Смартфон Samsung Galaxy A23 4/64GB KZ персиковый</div>
            </div>

            <div class="cart-grid__col">
              <div class="quantity cart-item__quantity">
                <button class="btn-reset quantity__button quantity__button--minus">
                  <svg class="quantity__button-icon" width="12" height="2">
                    <use xlink:href="#qty-minus"></use>
                  </svg>
                </button>
                <div class="quantity__value">1</div>
                <input
                  type="number"
                  class="quantity__input visually-hidden"
                  aria-hidden="true"
                  tabindex="-1"
                  value="1"/>
                <button class="btn-reset quantity__button quantity__button--plus">
                  <svg class="quantity__button-icon" width="12" height="12">
                    <use xlink:href="#qty-plus"></use>
                  </svg>
                </button>
              </div>
            </div>

            <div class="cart-grid__col">
              <div class="cart-item__price">
                15 000 Р.
              </div>
            </div>

            <div class="cart-grid__col">
              <div class="cart-item__delete">
                <a class="cart-item__delete-button" href="#">
                  <svg class="cart-item__delete-icon" width="20" height="24">
                    <use xlink:href="#delete-icon"></use>
                  </svg>
                </a>
              </div>
            </div>

          </article>
        </div>
        <div class="cart__footer">
          <div class="cart__button">
            <a class="cart__button-to-cart" href="/cart/">Просмотр корзины</a>
          </div>
          <div class="cart__info">
            <div class="cart__info-text">
              <div class="cart__total">
                Итого 3 товара
              </div>
              <div class="cart__total-amount">60 050 Р.</div>
            </div>
            <a class="cart__checkout-btn btn-reset btn btn--main" href="/checkout/">Оформить покупку</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo logo">
      <img loading="lazy" src="img/logo.png" class="footer__logo-image" width="230" height="63" alt="Dixon">
    </div>
    <div class="footer__nav">
      <div class="footer__col footer__col--first">
        <div class="footer__col-title">Магазин</div>
        <ul class="footer__col-list list-reset">
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Телефоны</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Хиты продаж</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Акции</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Новинки</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Распродажа</a>
          </li>
        </ul>
      </div>
      <div class="footer__col footer__col--second">
        <div class="footer__col-title">Услуги</div>
        <ul class="footer__col-list list-reset">
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Сдать в ремонт</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Статус ремонта</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Стоимость ремонта</a>
          </li>
        </ul>
      </div>
      <div class="footer__col footer__col--third">
        <div class="footer__col-title">Для клиента</div>
        <ul class="footer__col-list list-reset">
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Доставка и оплата</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">О компании</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Контакты</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Оформление в кредит</a>
          </li>
          <li class="footer__col-item">
            <a class="footer__col-link" href="#">Вакансии</a>
          </li>
          <li class="footer__col-item footer__col-item--add">
            <a class="footer__col-link" href="#">Политика конфиденциальности</a>
          </li>
          <li class="footer__col-item footer__col-item--add">
            <a class="footer__col-link" href="#">Договор оферты</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer__contacts">
      <div class="footer__contacts-phone phone-number">
        <a class="phone-number__link" href="tel:+78352600010">
          <svg class="phone-number__icon" width="18" height="18">
            <use xlink:href="#phone"></use>
          </svg>
          +7 (8352) 60-00-10
        </a>
        <span class="phone-number__text">Менеджер по продажам</span>
      </div>
      <div class="footer__contacts-phone phone-number">
        <a class="phone-number__link" href="tel:+78352600010">
          <svg class="phone-number__icon" width="18" height="18">
            <use xlink:href="#phone"></use>
          </svg>
          +7 (8352) 60-00-10
        </a>
        <span class="phone-number__text">Менеджер по продажам</span>
      </div>

      <div class="contacts__socials contacts__socials--footer">
        <a class="contacts__socials-link" href="#">
          <svg class="contacts__socials-icon" width="30" height="30">
            <use xlink:href="img/sprite.svg#vk-icon"></use>
          </svg>
        </a>
        <a class="contacts__socials-link" href="#">
          <svg class="contacts__socials-icon" width="30" height="30">
            <use xlink:href="img/sprite.svg#tg-icon"></use>
          </svg>
        </a>
        <a class="contacts__socials-link" href="#">
          <svg class="contacts__socials-icon" width="30" height="30">
            <use xlink:href="img/sprite.svg#viber-icon"></use>
          </svg>
        </a>
        <a class="contacts__socials-link" href="#">
          <svg class="contacts__socials-icon" width="30" height="30">
            <use xlink:href="img/sprite.svg#whatsapp-icon"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>
