@import "./cart-grid";
@import "./cart-item";

.cart {
  padding-top: 80px;
  padding-bottom: 50px;

  &__header {
    margin-bottom: 52px;

    &-info {
      margin-bottom: 58px;
    }

    &-link {
      font-weight: 400;
      font-size: 16px;
      line-height: 100%;
      color: #727385;

      &:not(:last-child) {
        margin-right: 58px;
      }
    }
  }

  &__list {
    margin-bottom: 50px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__coupon {
    align-self: flex-end;

    &-form {
      display: flex;
      align-items: center;
      height: 66px;
    }

    &-input {
      border: 0.3px solid #3743f9;
      border-right-color: transparent;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      padding-left: 10px;
      width: 250px;
      height: 100%;
      box-shadow: 0 0 20px 5px rgb(234 234 234 / 5%);
      background: #fff;

      &::placeholder {
        font-weight: 400;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: #acacac;
      }

      @include bp-415 {
        width: 60%;
      }
    }

    &-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 20px;
      height: 100%;
      box-shadow: inset 0 22px 20px rgb(255 255 255 / 25%), inset 0 -18px 20px rgb(81 88 190 / 51%);
      font-weight: 800;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.11em;
      text-transform: uppercase;
      color: #fff;
      background: #3743f9;

      @include bp-500 {
        padding: 10px;
        font-size: 14px;
      }

      @include bp-415 {
        font-size: 12px;
      }
    }
  }

  &__info {
    @include bp-800 {
      margin-top: 20px;
      margin-right: 0;
      margin-left: auto;
    }
  }

  &__info-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #727385;
  }

  &__total {
    margin-right: 10px;
  }

  &__total-amount {
    font-weight: 800;
    font-size: 20px;
    letter-spacing: 0.01em;
    color: #3a4097;
  }

  &__checkout-btn {
    padding: 20px;
    width: 100%;
    height: 66px;
    box-shadow: inset 0 22px 20px rgb(255 255 255 / 25%), inset 0 -18px 20px rgb(81 88 190 / 51%);
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #fff;
    background: #3743f9;
  }
}
