<section class="pricelist">
  <div class="container pricelist__container">
    <h1 class="pricelist__title h2-title">Прайс-лист на ремонт телефонов</h1>
    <div class="pricelist__tabs tabs" data-tabs="pricelist">
      <ul class="tabs__nav list-reset">
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Samsung</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Honor</button></li>
        <li class="tabs__nav-item"><button class="tabs__nav-btn btn-reset" type="button">Huawei</button></li>
      </ul>
      <div class="tabs__content">
        <div class="tabs__panel">
          <div class="pricelist__grid">
            <div class="pricelist__item pricelist__item--active">Samsung Galaxy A02</div>
            <div class="pricelist__item">Samsung Galaxy A03 Core</div>
            <div class="pricelist__item">Samsung Galaxy A12</div>
            <div class="pricelist__item">Samsung Galaxy A13</div>
            <div class="pricelist__item">Samsung Galaxy A22S</div>
            <div class="pricelist__item">Samsung Galaxy A23</div>
            <div class="pricelist__item">Samsung Galaxy A52</div>
            <div class="pricelist__item">Samsung Galaxy S21 FE</div>
            <div class="pricelist__item">Samsung Galaxy S22</div>
            <div class="pricelist__item">Samsung Galaxy Z Flip3</div>
            <div class="pricelist__item">Samsung Galaxy S22 Ultra</div>
            <div class="pricelist__item">Samsung Galaxy S22 +</div>
            <!-- Показать ещё -->
            <div class="pricelist__item">Samsung Galaxy A02</div>
            <div class="pricelist__item">Samsung Galaxy A03 Core</div>
            <div class="pricelist__item">Samsung Galaxy A12</div>
            <div class="pricelist__item">Samsung Galaxy A13</div>
            <div class="pricelist__item">Samsung Galaxy A22S</div>
            <div class="pricelist__item">Samsung Galaxy A23</div>
            <div class="pricelist__item">Samsung Galaxy A52</div>
            <div class="pricelist__item">Samsung Galaxy S21 FE</div>
            <div class="pricelist__item">Samsung Galaxy S22</div>
            <div class="pricelist__item">Samsung Galaxy Z Flip3</div>
            <div class="pricelist__item">Samsung Galaxy S22 Ultra</div>
            <div class="pricelist__item">Samsung Galaxy S22 +</div>
          </div>
          <button class="pricelist__show-more btn-reset">Показать ещё</button>
          <div class="pricelist__works-list work-list">
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-1.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Разбито стекло</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-2.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не заряжается</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-3.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не работает Wi-Fi</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-4.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не работает звук</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-5.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не ловит сеть</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-6.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не работает микрофон</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-7.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Разбита камера</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-8.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Быстро разряжается</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-9.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Попала влага</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-10.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не включается</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-11.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Не работает Bluetooth</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
            <div class="work-list__item">
              <img loading="lazy" src="img/pricelist/work-12.svg" class="work-list__icon" width="62" height="62" alt="">
              <h3 class="work-list__title">Другая неисправность</h3>
              <div class="work-list__price">1500Р.</div>
            </div>
          </div>
          <div class="pricelist__button-wrapper">
            <a class="pricelist__button btn btn--main btn-reset" href="#">Заказать услугу</a>
          </div>
        </div>
        <div class="tabs__panel"></div>
        <div class="tabs__panel"></div>
      </div>
    </div>
  </div>
</section>
